@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Cabin Sketch', cursive;
    
}



/*headings and logo*/

#logo {
    float: left;
    font-size: 250%;
    margin: 3% 3% 3% 3%;

}

/* navigation links in menu */

#menu {
    font-size: 130%;

}

#menu li {
    float: right;
    margin: 4.5% 3% 3% 3%;
    list-style-type: none;
}

/* hero outer section, containing image & logo */

#hero-outer {
    height: 500px ;
    width: 100%;
    background-color: aqua;
    position: relative;
    border-top: 1px solid black;
    overflow: hidden;
    z-index: 1;

}

/* Black slate & welcome text */

#black-slate-board {
    z-index: 2;
    
    height: 400px;   
    width: 250px; 
    

    background-color: black;

    position: absolute;

    top: 3%;
    right: 50px;

}

#welcome-text {
    color:white;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 450;
    letter-spacing: 3px;
    width: 200px;
    height: 150px;

    text-align: center;

    padding-left: 25px;
    padding-top: 25px;


}

/* Footer-Map */

#map-wrapper {
    height: 300px;
    width: auto;
}

#map {
    width: 75%;
    height: 100%;
    left: 0;

}

/* Footer - Times */

th {
    text-align: right;
}

th, td {
    border-bottom: 1px solid black; 
    
}

#times-h2 {
    float: left;
    padding-bottom: 5px;
   
}

#times-box-right {
    
    width: 20%;
    float: right;
    text-align: center;

}
