* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a3a3a;
    font-weight:400;
}

/*headings and logo*/

#logo {
    float: left;
    font-size: 250%;
    margin: 3% 3% 3% 3%;

}

/* navigation links in menu */

#menu {
    font-size: 130%;

}

#menu li {
    float: right;
    margin: 4.5% 3% 3% 3%;
    list-style-type: none;
}

/* hero outer section, containing image & logo */

#hero-outer {
    height: 500px ;
    width: 100%;
    background-color: aqua;
    position: relative;
    border-top: 1px solid black;
    overflow: hidden;

}