@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

header {

    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 100%;
    font-weight: bold;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

body {
    font-family: 'Cabin Sketch', cursive;
    max-width: 1800px;
    min-height: 100vh;
    position: relative;
}

#background-image {
    background-image: url('images/background-body.jpg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    object-fit: cover;
    
}
#background-image2 {
    background-image: url('images/deer-intheforest.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.8;
    max-width: 100%;
   
    background-size: cover;
    height: auto;
    
}

#background-image3 {
    background-image: url('images/boys-having-fun.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    max-width: 100%;
    height: auto;
    background-size: cover;

}



/*headings and logo*/

#logo {
    float: left;
    font-size: 250%;
    margin: 14%;
    background-color: #0d241385;
    outline: 5px solid #0d241385;
    border-radius: 34%;
    color: turquoise;
    width: 245px;
}

/* navigation links in menu */

.active {
    background-color: aliceblue;
}

#menu {
    font-size: 130%;

}

nav {
height: 60px;
width: 100%;
max-width: 500px;
float: right;
margin-top: 19px;


margin-bottom: 10px;
margin-right: 3%;
}

#menu li {
    float: right;
    margin: 4.5% 3% 3% 3%;
    list-style-type: none;
    background-color: #0d241385;
    outline: 5px solid #0d241385;
    border-radius: 34%;
}

li a {
    color: turquoise;
}

/* hero outer section, containing image & logo */



#hero-outer {
    height: 740px ;
    width: 100%;
    background-color: transparent;
    position: relative;
    border-top: 1px solid black;
    overflow: hidden;
    z-index: 1;
    top: -25px;


}

#enter-tent-button {
    z-index: 2;
    position: relative;
    top: 50%;
    left: 32%;
    border: solid;
    width: fit-content;
    border-color: white;
    height: auto;
    background: red;
    transition: all 2s;
    animation-delay: 16s;
    animation-name: button;
    animation-duration: 4s;
  }

@keyframes button {
    0%   {opacity: 100%;}
    100% {opacity: 0%;}
    
}

  #enter-tent-button:hover {
    
    height: fit-content;
    font-weight: ;
    font-size: 300%;
    }

/* Hero video */

video {
    max-width: 400px;
    max-height: 700px;
    object-fit: cover;
    position: absolute;
    top: 3%;
    left: 12%;
   
}

/* Inside video */

#video-inside {
    height: 740px;
    width: auto;
    overflow: hidden;
}


/* Black slate & welcome text */

#black-slate-board {
    z-index: 2;
    
    height: auto;   
    background-color: black;

    position: absolute;

    top: 3%;
    
    bottom: 3%;
    border-radius: 10%;
    width: 55%;
    margin-left: 10%;
    max-width: 850px;

}

#welcome-text {
    color:white;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 450;
    letter-spacing: 3px;
    text-align: center;
}

#contact {
    float: center;
    bottom: 66px;
    right: 3%;
    position: ;
    color: white;

    }

/* Footer-Map */

#map-wrapper {
    height: 100%;
    width: 75%;
}

#map {
    width: 75%;
    height: 100%;
    left: 0;

}

/*  Times */

th {
    text-align: right;
}

th, td {
    border-bottom: 1px solid white; 
    
}

#times-h2 {
    float: left;
    padding-bottom: 5px;
   
}

#times-box-right {
    padding: 3% 3%;
    width: 18%;
    float: right;
    text-align: left;
    position: relative;
    min-width: 20ch;
    color: white;

}

/* Form */

#form {
    width: 90%;
    height: fit-content;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px 20px;
    
    border-radius: 6%;
    font-family: black roboto, sans-serif;
    background-color: #ffffffa3;
    font-weight: bolder;
    letter-spacing: 2px;
    
}



input, textarea {
    width: 100%;

}
label {
    width: 100%;
    float: left;
    margin: 5px auto;
}

label, input, button {
    display: block;
}

#submit-button {
    width: 130px;
    height: 40px;
    background-color: turquoise;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 110%;
    font-weight: bolder;
}

#submit-button:hover {
    border: black 1px solid;
}

/* About text */

.text-center {
    text-align: justify;
    }

#about-text {
    max-width: 38%;
    margin-right: auto;
    margin-left: 5%;
    padding: 18px;
    letter-spacing: 2px;
    height: auto;
    border-radius: 4%;
    background-color: #0000008a;
    }

div p {
        color: white;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        }

p {
    margin-top: 1px;
    margin-bottom: 20px;
}
        

/* Footer */

footer {

    height: 120px;
}

#footer-connect {
   
    height: 120px;
    margin-top: 120px;
    background-color: rgba(0,0,0,0.8);
  
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 5%;
    font-size: 324%;
    margin: -3%;
    color: #fff;
}


@media screen and (max-width: 1050px) {

#about-text {
    margin-right: auto;
    margin-left: auto;
    max-width: 73%;
    margin-left: auto;
    text-align: left;

}

#background-image3 {

    background-position-x: 71%;
}

#footer-max-width {
    
    margin-top: 200px;
}

}

/* For screens bigger than*/ 

@media screen and (min-width: 1000px) {

    div p {
        font-size: 32px;
    }
    
}
    @media screen and (min-width: 1700px) {
    
    #logo {
        font-size: 330%;
        width: 325px;
        margin-left: 8vh;
    
    }
    
    #menu {
    
        font-size: 200%;
    }
    
    #about-text {
    max-width: 1000px;
    margin-left: 12%;
    
    }
    
    div p {
        font-size: 38px;
    }
    
    }

    @media screen and (min-width: 2800px) {
  
        #logo {  
            font-size: 510%;
            width: 504px;
            
        }
        
        header {
            max-width: none;
        }
        #menu {
            font-size: 301%;
            margin-right: 8vh;
            margin-top: 60px;
        }
        
        div p {
        
            font-size: 38px;
        }
        
        
        }

   


/* For screens smaller than*/

@media screen and (max-width: 840px) {

#logo {
    margin: 14%;
}

nav {
    right: 0;
    width: 250px;
}

}
    
@media screen and (max-width: 570px) {

header { 
    flex-direction: column;
}

#logo {
    margin: 10%;
}

}